{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}}
    Titeltje

{% endblock %}

{% block body %}


{{countje * 2}}

{% if countje < 999 %}

<h1 class="text-2xl"> countje is {{countje}} <h1>

{% endif %}


<main class="flex flex-col lg:flex-row">
    {{include('main/_aside.html.twig')}}


</main>


<div>
    <table>

        <tr>

            <a href="{{path('app_datapoint_show', {id : randomObj.x })}}">
                 X : {{randomObj.x}}
            </a>


            <td>{{randomObj.y}}</td>



        </tr>
    </table>

</div>

{% endblock %}